{% extends "partials/main.html" %}
{% block title %}

{% endblock %}

{% block content %}
   {% include "partials/admin_logged_in.html" %}
<style>
    div#background{
        overflow: hidden;
        background: #fff;
    }
</style>
<div id="background">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4 col-md-offset-8">
            <a class="btn btn-primary" href="/diseases/new">Register disease</a>
        </div>
        <div class="clearfix"></div>
        <br><br>
        <div class="col-md-12">
            <table class="table table-responsive table-no-bordered">
                <thead>
                <th>#</th>
                <th>Disease Name</th>
                <th>Effect</th>
                <th>Description</th>
                </thead>
                <tbody>
                {% for disease in diseases %}
                    <tr>
                        <td>{{ disease.id }}</td>
                        <td>{{ disease.name }}</td>
                        <td><span class="label label-{{1|danger}}">{{disease.effect|severe}}</span></td>
                        <td>{{ disease.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}