.theme{
  background:whitesmoke;
  padding:20px;
}

body{
  /* background: url("/static/bg.jpg"); */
  background: url("/static/images/bg.png");
}
.form-center{
  margin-top: 15vh;
}

.form-center1{
	margin-top: 10vh;
}

.ds{
	background: #5cb85c;
	height:120px;
	width:300px;
}