.theme{
  background:whitesmoke;
  padding:20px;
}

body{
  /* background: url("/static/bg.jpg"); */
  background-size: cover;
}
.form-center{
  margin-top: 15vh;
}

.ds{
	background: #5cb85c;
	height:120px;
}